# Hi 👋, I'm Sohail
A passionate, Java Backend Developer looking for full-time opportunities.

## My current tech stack

- Java with Maven
- Spring/Spring-Boot Framework
- SQL (PostgreSQL)
- JPA/Hibernate
- AWS EC2
- Docker
- Microservices using Spring Cloud
- git

## Articles on Dev.to

Check out my articles on [dev.to](https://dev.to/sohailshah20) 🔖📖📚🤓

{{ template "article-table" .Articles }}
